/*
!.bashrc
!.bash_aliases
!.vimrc
!.gitignore
!.config/
.config/*
.config/nvim/lazy-lock.json
!.config/nvim/
!.config/i3/
!.config/qtile/
!.config/waybar/
!.config/niri/
!.config/hypr
!.config/kitty
!.scripts/
!README.md
!.tmux.conf
